<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner_slider">
                    <div class="single_banner_slider">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h5>Winter Fasion</h5>
                                <h1>Fashion Collection 2019</h1>
                                <a routerLink="/products" class="btn_1">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- feature_part start-->
<section class="feature_part pt-4">
    <div class="container-fluid p-lg-0 overflow-hidden">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="../assets/img/feature_1.png" alt="#" />
                    <div class="hover_text">
                        <a routerLink="/products" class="btn_2">shop for male</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="../assets/img/feature_2.png" alt="#" />
                    <div class="hover_text">
                        <a routerLink="/products" class="btn_2">shop for female</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="../assets/img/feature_3.png" alt="#" />
                    <div class="hover_text">
                        <a routerLink="/products" class="btn_2">shop for children</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->

<!-- subscribe_area part start-->
<section class="instagram_photo m-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <!-- Products -->
                    <ng-container class="col-lg-4 col-sm-6" *ngFor="let prd of promotedProductsList; let i = index">
                        <app-promoted-products [product]="prd" class="single_instgram_photo" *ngIf="i < 5"></app-promoted-products>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->

<!-- free shipping here -->
<section class="shipping_details section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="../assets/img/icon/icon_1.png" alt="" />
                    <h4>Free shipping</h4>
                    <p>
                        Divided face for bearing the divide unto seed winged divided light Forth.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="../assets/img/icon/icon_2.png" alt="" />
                    <h4>Free shipping</h4>
                    <p>
                        Divided face for bearing the divide unto seed winged divided light Forth.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="../assets/img/icon/icon_3.png" alt="" />
                    <h4>Free shipping</h4>
                    <p>
                        Divided face for bearing the divide unto seed winged divided light Forth.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="../assets/img/icon/icon_4.png" alt="" />
                    <h4>Free shipping</h4>
                    <p>
                        Divided face for bearing the divide unto seed winged divided light Forth.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- free shipping end -->