.container {
    width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.separator {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.26rem;
    font-family: "Open Sans", Arial, sans-serif;
    box-sizing: border-box;
    height: 1200px;
}

h1 {
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.96rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

h4 {
    color: #0088CC;
    font-size: 1.68rem;
    text-transform: capitalize;
    font-weight: 700;
}

h5 {
    color: #212529;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 1.6rem 0;
}

a {
    text-decoration: none;
    color: #999;
}

li {
    list-style: none;
}

del {
    color: rgba(145, 145, 145, 0.5);
    font-size: 1.3rem;
}

strong {
    font-weight: 700;
}

.data-item-1 {
    display: flex;
    justify-content: space-between;
}

.data-item-1__left-side {
    margin-right: 5rem;
}

.data-item-1__header {
    font-size: 3.08rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.data-item-1__desc-lg {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

.data-item-1__desc-sm {
    font-size: 1.4rem;
    font-weight: 400;
}

.data-item-1__desc-sm:not(:last-of-type) {
    margin-bottom: 1.6rem;
}

.data-item-1__right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #0088CC;
    color: white;
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 0 .5rem;
}

.btn {
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: .4rem;
    min-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.12rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: #0088CC;
}

.btn--primary:hover {
    background-color: #0077b3;
}

.btn--gray {
    background-color: #101214;
}

.btn--gray:hover {
    background-color: #272c30;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter__header {
    font-size: 5rem;
    font-weight: 700;
    color: #0088CC;
}

.counter__data {
    font-size: 2rem;
    font-weight: 100;
    color: #444;
}

.crud-actions {
    position: absolute;
    bottom: .5rem;
    right: 1.5rem;
}

.crud-actions a:hover {
    color: #0088CC;
}

.dropdown {
    position: relative;
}

.dropdown__header {
    color: #999;
}

.dropdown__body {
    position: absolute;
    flex-direction: column;
    z-index: 10;
    top: 4rem;
    display: none;
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
    min-width: 10rem;
}

.dropdown__item {
    display: flex;
}

.dropdown__items {
    display: flex;
    width: 100%;
}

.dropdown--opened .dropdown__body {
    display: flex;
}

.dropdown--left>.dropdown__body {
    right: 0;
}

.filters {
    max-width: 25%;
    min-width: 20rem;
    padding: 0 1.5rem;
    align-self: flex-start;
}

.form-control {
    line-height: 1.85;
    border: 1px solid rgba(0, 0, 0, 0.198);
    border-radius: 4px;
    padding: .6rem 1.2rem;
    width: 100%;
    font-size: 1.4rem;
}

.form-control:focus,
.form-control:active {
    outline: none;
    border: 1px solid #999;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    position: relative;
    flex-grow: 1;
}

.form-group__checkboxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group__checkbox {
    display: flex;
    align-items: center;
    min-width: 50%;
    font-size: 1.4rem;
}

.form-group__checkbox span {
    padding: .4rem;
}

.form-group__radios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group__radio {
    display: flex;
    align-items: center;
    min-width: 50%;
    font-size: 1.4rem;
}

.form-group__radio span {
    padding: .4rem;
}

.form-group label {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: .8rem;
}

.form-group.invalid label {
    color: #ed5348;
}

.form-group.invalid .form-control {
    border-color: #ed5348;
    position: relative;
}

.form-group.invalid::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
    content: "ï€";
    position: absolute;
    bottom: .725rem;
    right: .725rem;
    font-size: 2rem;
    width: 2rem;
    height: 2.5rem;
    background-color: #ed5348;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.form-row {
    display: flex;
    width: 100%;
    justify-content: stretch;
}

.form-row .form-group:not(:last-of-type) {
    padding-right: 1rem;
}

.image {
    background-size: cover;
    background-position: center;
    margin: .3rem;
    position: relative;
}

.image--small {
    margin: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.image--circle {
    border-radius: 50%;
    border: 2px solid #444;
}

.increment-control {
    display: flex;
    margin-right: 1rem;
}

.increment-control__action {
    font-size: 1.2rem;
    width: 4.3rem;
    height: 4.3rem;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.06);
    font-weight: 700;
}

.increment-control__action:last-of-type {
    border-radius: 0 4px 4px 0;
    border-left-width: 0;
}

.increment-control__action:first-of-type {
    border-radius: 4px 0 0 4px;
    border-right-width: 0;
}

.increment-control__action:hover {
    background-color: #F7F7F7;
}

.increment-control>.form-control {
    font-weight: 700;
    width: 3.3rem;
    height: 4.3rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
    text-align: center;
    font-size: 1.4rem;
}

.info {
    display: flex;
    align-items: center;
    line-height: 2.4rem;
    padding: .6rem 1rem;
}

.info__icon {
    font-size: 1.512rem;
    color: #0088CC;
    padding-right: .5rem;
}

.info__data {
    color: #999;
}

.item-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    align-self: flex-start;
}

.item-listing__items {
    display: flex;
    flex-wrap: wrap;
    width: 90%
}

.item-listing__items.item-listing--3items>.item-medium-1 {
    min-width: 33%;
}

.item-listing__items.item-listing--4items>.item-medium-1 {
    min-width: 25%;
}

.item-listing__tools {
    margin: 1.5rem;
    display: flex;
}

.item-medium-1 {
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    position: relative;
}

.item-medium-1__image {
    overflow: hidden;
    padding-top: 100%;
    width: 100%;
    position: relative;
}

.item-medium-1__alert {
    border-radius: 50%;
    background-color: #0088CC;
    border-bottom: 2px solid #006699;
    color: white;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 700;
    top: -1rem;
    right: 0;
    z-index: 5;
}

.item-medium-1__action {
    position: absolute;
    top: -5rem;
    opacity: 0;
    width: 100%;
    background-color: #0088CC;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    transition: all .2s;
}

.item-medium-1:hover .item-medium-1__action {
    top: 0;
    opacity: 1;
    z-index: 3;
}

.item-medium-1:hover .item-medium-1__image::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: .3;
    z-index: 1;
}

.item-small-1 {
    display: flex;
    width: 26rem;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.item-small-1__data {
    display: flex;
    flex-direction: column;
    color: #999;
}

.item-small-1__title {
    font-weight: 700;
}

.item-small-1__description {
    font-size: 1.12rem;
}

.item-small-1__image-box {
    position: relative;
}

.item-small-1__image {
    width: 8rem;
    height: 8rem;
    display: block;
}

.item-small-1__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    background-color: white;
    border-radius: 50%;
    font-size: 1rem;
    color: #000;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.lable {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem;
}

.link {
    cursor: pointer;
}

.link__icon {
    font-size: 1.08rem;
    padding-right: .5rem;
}

.link:hover .link__icon {
    animation-name: shake;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: .3s;
    animation-timing-function: linear;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list__item {
    background-color: white;
    padding-bottom: .8rem;
    padding-top: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.list--hr {
    flex-direction: row;
}

.list--hr>.list__item:last-of-type {
    padding-right: 0;
}

.list--hr>.list__item:first-of-type {
    padding-left: 0;
}

.list--hr-separator .list__item:not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.list--vr-separator .list__item:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.notification {
    color: white;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    position: absolute;
    top: -.5rem;
    right: -.3rem;
}

.notification--danger {
    background-color: #ed5348;
}

.header-cart .header-btns-icon .qty {
    position: absolute;
    right: -9px;
    top: -9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    background: #F8694A;
    color: #FFF;
    border-radius: 50%;
}

.header-cart.dropdown .custom-menu {
    width: 300px;
}

#shopping-cart .shopping-cart-list {
    max-height: 260px;
    margin-bottom: 15px;
    overflow-y: scroll;
}

#shopping-cart .shopping-cart-list .product.product-widget:first-child {
    margin-top: 0px;
}

#shopping-cart .shopping-cart-list .product.product-widget:last-child {
    margin-bottom: 0px;
}

#shopping-cart .shopping-cart-btns>button {
    width: calc(50% - 2px);
}


/*=========================================================
	03 -> NAVIGATION
===========================================================*/

#navigation {
    background-color: #30323A;
}

#navigation .container {
    position: relative;
}

.header-cart.dropdown .custom-menu {
    width: 300px;
}

#shopping-cart .shopping-cart-list {
    max-height: 260px;
    margin-bottom: 15px;
    overflow-y: scroll;
}